.main {
  position: relative;
  width: 70.9rem;
  height: 42.1rem;
  background-image: url(../../assets/miles-chang-VIN7yDE-Exk-unsplash.jpg);
  border-radius: 0.5rem;
  box-shadow: 3.7px 7.4px 10.3px -1px rgba(0, 0, 0, 0.083),
    5.4px 10.9px 30.5px -1px rgba(0, 0, 0, 0.115),
    10px 20px 80px -1px rgba(0, 0, 0, 0.19);
}

.title {
  padding-top: 3.5rem;
  font-family: var(--ff);
  font-size: var(--fs-title);
  text-align: center;
}

.clock-container {
  display: grid;
  grid-template-areas: "clock length";
  position: absolute;
  top: 12.5rem;
  left: 11.5rem;
  width: 47.5rem;
  height: 14rem;
  font-family: var(--ff-digital);
  color: var(--clr-dark);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.length-container {
  grid-area: length;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.8rem;
  width: 21.5rem;
}
